<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div>
        
         <div class="container">
            <div class="row">
                <h1 class="lead" style="text-align:center">Klimb Assignment-Add from Excel-csv </h1>
                <div style="margin: 20px auto; width:30%">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                             
                            <input class="form-control" type="file" id="file" name="file" accept="file/*" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" style="background-color: green; border-radius: 50px; ">Submit</button>
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>

    </div>
</body>
</html>